@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: #0890ff;
  --nav--bg-color: white;
  --section-bg-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Roboto", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 80vw;
  height: 35vh;
  max-width: 250px;
  right: 0;
  z-index: 5;
  background: white;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 2px 10px 3px black;
  font-weight: 700;
  visibility: hidden;
}

.nav-panel {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  z-index: 2;
}
nav img {
  width: 40px;
  margin-left: 10px;
  transition: transform ease 0.3s;
  cursor: pointer;
}

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  user-select: none;
}
nav a {
  color: black;
  margin: 5px 20px;
  border-bottom: 3px solid transparent;
  transition: transform ease 0.3s;
  text-decoration: none;
}

nav a:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

header {
  margin-top: 50px;
  width: 100vw;
  height: calc(100vh - 50px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/profile.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 5px solid rgb(247, 51, 51);
}

header img {
  position: fixed;
  top: 5px;
  left: 15px;
  width: 40px;
  z-index: 2;
  cursor: pointer;
}
header div {
  position: absolute;
  width: 100%;
  top: 45%;
}

h1 {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  padding: 15px 0;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0890ff00, var(--main-color));
  background: rgba(61, 61, 61, 0.442);
}

nav img:hover,
header img:hover {
  transform: scale(1.2);
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(240, 236, 135);
}

#about {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url(images/about.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

#about h1 {
  background: none;
  text-align: left;
  padding-left: 40px;
}

.bullet {
  width: 90%;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  color: white;
}

#history {
  background-image: url(images/history.jpg);
  background-size: cover;
  background-position: center;
  align-items: flex-start;
  color: white;
  padding: 50px 0;
}

#history div {
  margin: 10px 30px;
  width: 70%;
  background: rgba(0, 0, 0, 0.721);
  border-radius: 10px;
}

#history h1 {
  width: 90%;
  margin-left: 20px;
  text-align: left;
}
#history p {
  margin: 20px;
  text-align: justify;
}

#vision {
  height: 99vh;
  background-image: url(images/vmision.jpg);
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  color: white;
  padding: 50px 0;
}

#vision div {
  margin: 10px 30px;
  width: 80%;
  background: rgba(0, 0, 0, 0.721);
  border-radius: 10px;
}
#vision h1 {
  width: 90%;
  margin-left: 20px;
  text-align: left;
}
#vision p {
  margin: 20px;
  text-align: justify;
}

.mission {
  justify-self: flex-end;
  bottom: 50px;
}

#board {
  background: whitesmoke;
}

#services h1,
#board h1 {
  padding-top: 50px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.members {
  width: 80%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.members div {
  margin: 15px 0;
  transition: transform ease 0.3s;
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px black;
}
.manager,
.name {
  color: white;
  background: var(--main-color);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60px;
  font-size: 25px;
  padding: 10px;
  text-align: left;
}

.name {
  border-radius: 0 0 10px 10px;
  background: rgba(61, 61, 61, 0.442);
}
.vm {
  transition: transform ease 0.3s;
}
.vm:hover,
.services:hover,
.person:hover {
  transform: scale(1.1);
}

.fas {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
}

.summary {
  align-self: flex-start;
  font-size: 20px;
  margin: 20px 0;
  margin-left: 20px;
}
.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services {
  padding-top: 5px;
  width: 70%;
  margin: 20px 5px;
  transition: transform ease 0.3s;
}
.tourism {
  border-top: 4px solid lime;
}
.care {
  border-top: 4px solid rgb(216, 155, 63);
}
.consulting {
  border-top: 4px solid var(--main-color);
}
.products {
  width: 90%;
  margin: 10px;
  display: flex;
  align-items: center;
}

footer {
  width: 100vw;
  background: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companies {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 100px;
  margin: 20px 0;
  transition: transform ease 0.3s;
  cursor: pointer;
}
footer img:hover {
  transform: scale(1.2);
}

footer p,
footer h2 {
  color: white;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  font-size: 10px;
  font-weight: 500;
}
footer h2 {
  font-size: 20px;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 11px;
  right: 20px;
  z-index: 10;
  display: inline;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--main-color);
  margin: 4px 0;
  transition: 0.3s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0px, -8px) rotate(-45deg);
}
/* --------------------------------------- */
/* media queries */
@media (min-width: 600px) {
  .menu-bars {
    visibility: hidden;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;
    visibility: visible !important;
  }

  nav,
  .nav-items {
    flex-direction: row;
  }

  nav a:hover {
    border-bottom: 2px solid var(--main-color);
    border-radius: 5px;
  }

  .nav-items {
    margin-top: 5px;
    align-items: center;
  }
  header img,
  .back-drop {
    visibility: hidden !important;
  }

  #vision {
    align-items: flex-start;
  }

  #history div,
  #vision div {
    width: 50%;
  }

  .mission {
    align-self: flex-end;
  }

  .members {
    flex-direction: row;
  }
  .services-container {
    flex-direction: row;
  }
  .services {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .companies {
    flex-direction: column;
  }
  section {
    flex-direction: column;
  }
}
