@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: #0890ff;
  --nav--bg-color: white;
  --section-bg-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Roboto", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

nav {
  position: fixed;
  width: 250px;
  height: 50vh;
  right: -260px;
  top: 0;
  z-index: 5;
  background: rgba(108, 108, 108, 0.85);
  border-radius: 10px 0 0 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 2px 10px 3px black;
  font-weight: 700;
  transition: transform ease 0.5s;
}

.slide-left {
  transform: translateX(-260px);
}
.slide-right {
  transform: translateX(260px);
}

nav img {
  width: 40px;
  margin-left: 10px;
  transition: transform ease 0.3s;
  cursor: pointer;
}

.nav-items {
  flex: 1;
  display: flex;
  margin-top: 20px;
  font-size: 25px;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
}
nav a {
  color: white;
  margin: 5px 20px;
  border-bottom: 3px solid transparent;
  transition: transform ease 0.3s;
  text-decoration: none;
}

nav a:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url(images/profile.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity ease 1s;
}

header img {
  position: fixed;
  top: 5px;
  left: 15px;
  width: 40px;
  z-index: 2;
  cursor: pointer;
}
header div {
  background: rgba(34, 33, 33, 0.544);
  position: absolute;
  width: 100%;
  top: 30%;
  padding-bottom: 20px;
}

header p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

h1 {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #0890ff00, var(--main-color));
  background: rgba(61, 61, 61, 0.442);
}

nav img:hover,
header img:hover {
  transform: scale(1.2);
}

section {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(240, 236, 135);
  transition: opacity ease 1s;
}

#about {
  background-image: url(images/about.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

#about div,
#about h1 {
  background: rgba(61, 61, 61, 0.598);
}

#about p {
  color: white;
  padding: 10px;
  font-size: 16px;
}

#about h1 {
  text-align: left;
  padding-left: 40px;
}

.bullet {
  width: 90%;
  margin: 10px 30px;
  display: flex;
  align-items: center;
  color: white;
}

#vision {
  background-image: url(images/vmision.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
  color: white;
  padding: 50px 0;
}

#vision div {
  margin: 50px 30px;
  width: 80%;
  background: rgba(0, 0, 0, 0.721);
  border-radius: 10px;
}
#vision h1 {
  width: 90%;
  margin-left: 20px;
  text-align: left;
}
#vision p {
  margin: 20px;
}

.mission {
  justify-self: flex-end;
  bottom: 50px;
}

#board {
  background: whitesmoke;
}

#brands {
  background: rgb(228, 227, 227);
}

.brands {
  width: 100%;
}
.brand {
  margin: 30px 5%;
  width: 20%;
  display: inline-block;
}

.brand img {
  width: 100%;
  max-width: 100px;
  background: white;
  border-radius: 60%;
  box-shadow: 0 1px 3px 2px black;
  transition: transform ease 0.3s;
}

.brand p {
  width: 100%;
  max-width: 100px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}
#footer1 h1,
#services h1,
#board h1,
#companies h1,
#brands h1 {
  padding-top: 50px;
}

.board {
  margin: 20px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.persons {
  width: 100%;
  display: flex;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 5px 0;
  background: white;
}

.person img {
  width: 50%;
  margin: 5px 0;
  border-radius: 50%;
  background: gray;
  transition: transform ease 0.3s;
}
.person p {
  text-align: center;
  font-size: 15px;
}
.cv {
  width: 100%;
  height: 50vh;
  padding: 20px;
  background: rgba(172, 255, 47, 0.2);
}
.chosen {
  background: rgba(172, 255, 47, 0.2);
}

#footer1 {
  background: white;
  height: 100vh;
  opacity: 0;
  transition: opacity ease 1s;
}
#footer1 .companies {
  height: calc(100vh - 100px);
  width: 100%;
  background: rgba(255, 99, 8, 0.496);
  justify-content: center;
}

.vm {
  transition: transform ease 0.3s;
}
.brand img:hover,
footer img:hover,
.person img:hover,
.vm:hover,
.services div:hover {
  transform: scale(1.1);
}

.fas {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services {
  padding-top: 5px;
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.394);
  color: white;
}

.services div {
  transition: transform ease 0.3s;
}
.tourism {
  background: rgb(16, 199, 16);
  border-top: 4px solid rgb(36, 135, 36);
}
.care {
  background: rgb(133, 95, 38);
  border-top: 4px solid rgb(216, 155, 63);
}
.consulting {
  background: rgb(19, 91, 162);
  border-top: 4px solid var(--main-color);
}
.products {
  width: 90%;
  margin: 10px;
  display: flex;
  align-items: center;
}

#contact {
  background: rgba(128, 128, 128, 0.313);
}

#contact .fas {
  margin-right: 20px;
  font-size: 30px;
}

iframe {
  width: 80%;
  height: 50vh;
  border-radius: 10px;
  margin: 60px 30px;
  border: none;
  box-shadow: 0 2px 10px 2px black;
}

.info {
  margin: 20px 30px;
  display: flex;
  align-items: center;
}
footer {
  width: 100vw;
  height: 100vh;
  background: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.companies {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

footer img {
  width: 100px;
  margin: 20px 0;
  transition: transform ease 0.3s;
  cursor: pointer;
}

footer p,
footer h2 {
  color: white;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  font-size: 10px;
  font-weight: 500;
}
footer h2 {
  font-size: 15px;
}

.dots {
  margin: 0;
  position: fixed;
  bottom: 30px;
  right: 5px;
  z-index: 1;
  color: rgb(255, 0, 149);
  height: 170px;
  width: 30px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fa-chevron-up,
.fa-chevron-down {
  margin: 0;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 11px;
  right: 20px;
  z-index: 10;
  display: inline;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--main-color);
  margin: 4px 0;
  transition: 0.3s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0px, -8px) rotate(-45deg);
}
/* --------------------------------------- */
/* media queries */
@media (min-width: 600px) {
  .menu-bars {
    visibility: hidden;
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;
    background: white;
  }

  .slide-left,
  .slide-right {
    transform: translateX(0);
  }

  .nav-items {
    margin-top: 0;
    font-size: 20px;

    justify-content: flex-end;
  }
  nav a {
    color: black;
  }
  #contact,
  .services-container,
  nav,
  .nav-items {
    flex-direction: row;
  }

  #contact {
    align-items: center;
  }
  nav a:hover {
    border-bottom: 2px solid var(--main-color);
    border-radius: 5px;
  }

  .nav-items {
    margin-top: 5px;
    align-items: center;
  }
  header img,
  .back-drop {
    visibility: hidden !important;
  }

  #vision {
    align-items: flex-start;
  }
  iframe,
  #vision div {
    width: 50%;
  }

  .mission {
    align-self: flex-end;
  }

  .services {
    width: 30%;
  }
  #footer .companies {
    flex-direction: row;
  }
  footer {
    height: auto;
  }
}

@media (max-width: 500px) {
  .companies-section img {
    margin: 20px 15px;
  }
  section {
    flex-direction: column;
  }
  .brand p {
    font-size: 10px;
  }
  .person p {
    font-size: 13px;
  }
}
